:root {
  --spezi-lila: #6b5b95;
  --spezi-gelb: #feb236;
  --spezi-rot: #d64161;
  --spezi-orange: #ff7b25;
}

body {
  margin: 0;
  background-color: floralwhite;
  cursor: url(../images/speed_cursor.png), auto;
  }

/****************   Nav Section **********************/
nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: coral;
  padding: 10px;
  font-family: "Joti One", serif;
}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
  background-color: palevioletred;
  color: floralwhite;

	
}

/*********** Splash Page ************************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--spezi-gelb);
  border-radius: 10px;
  font-family: "Kablammo", system-ui;
}

header h1 {
  color: floralwhite;

}

header img {
  border-radius: 50%;
  padding-bottom: 10px;
}

.address {
  display: flex;
  justify-content: center;
  color: var(--spezi-lila);
  font-style: italic;
  font-family: "Freckle Face", system-ui;
}

.tagline {
  color: var(--spezi-lila);
  font-weight: bold;
  font-family: "Freckle Face", system-ui;
  text-align: center;
}

/************* Sections ********************/
hr {

}

section h2 {
  display: inline-block;
  font-family: "Joti One", serif;
  color: floralwhite;
  background-color: var(--spezi-gelb);
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;

}

section h3 {
  display:flex;
  justify-content: center;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Freckle Face", system-ui;
  color: var(--spezi-lila);

}

section ul {
  font-family: "Freckle Face", system-ui;
  list-style-type: none;
  text-align: center;
  color: var(--spezi-lila)
}

section a {
  text-decoration: none;
  color: var(--spezi-gelb);
}

section {
  text-align: center;
}

section a:hover {
  color: coral;
  cursor: url("../images/speed_pointer.png"), auto;
}

a {
  cursor: url("../images/speed_pointer.png"), auto;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

div img {

}

.card {
  box-shadow: black;
  border-radius: 5px;
  background-color: var(--spezi-lila);
}
.card ul {
  color: var(--spezi-gelb);
  font-family: "Freckle Face", system-ui;
  text-align: left;
  list-style-type: disc;
}


.card h3 {
  color: var(--spezi-gelb);
}
/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      justify-content: center;
    }

    .three-col {
      grid-template-columns: 1fr;
      
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 5px;
}

textarea {
   color: aquamarine;
}

label {
  color: var(--spezi-lila);
}

/** fonts **/
.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}


.kablammo-frog {
             font-family: "Kablammo", system-ui;
             font-optical-sizing: auto;
             font-weight: 400;
             font-style: normal;
             font-variation-settings:
               "MORF" 0;
           }

.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}
